<p id="notice"><%= notice %></p>

<h1>Organisation Classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Organisation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisation_classes.each do |organisation_class| %>
      <tr>
        <td><%= organisation_class.name %></td>
        <td><%= organisation_class.code %></td>
        <td><%= organisation_class.organisation_id %></td>
        <td><%= link_to 'Show', organisation_class %></td>
        <td><%= link_to 'Edit', edit_organisation_class_path(organisation_class) %></td>
        <td><%= link_to 'Destroy', organisation_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisation Class', new_organisation_class_path %>
