<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @code_lesson_template.name %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @code_lesson_template.instructions %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @code_lesson_template.hint %>
</p>

<p>
  <strong>Starting code:</strong>
  <%= @code_lesson_template.starting_code %>
</p>

<p>
  <strong>Language:</strong>
  <%= @code_lesson_template.language_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @code_lesson_template.order %>
</p>

<p>
  <strong>Track template:</strong>
  <%= @code_lesson_template.track_template_id %>
</p>
