<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @track.course_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @track.order %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', course_tracks_path(@current_course) %>
