<%= form_with(model: course_template, local: true) do |form| %>
  <% if course_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_template.errors.count, "error") %> prohibited this course_template from being saved:</h2>

      <ul>
      <% course_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="form-group row">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"%>
  </div>

  <div class="actions row">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
